<dom-module id="pc-drawer">

	<link rel="import" type="css" href="./pc-drawer.css"/>

	<template>
		
		<div class="drawer" class$={{mainClasses}}>
			<div class="paper-toolbar">
				
				<div class="scrim" on-click="closeDrawer"></div>

				<paper-icon-button class="left-show-btn" icon="menu" title="menu" on-click=""></paper-icon-button>

				<div class="pc-toolbar-header"> 
					<content select=".logo"></content>
				</div>

				<paper-icon-button class="right-show-btn" icon="more-vert" title="more-vert"></paper-icon-button>

			</div>
		</div> <!--drawer end-->
	</template>

</dom-module>

<script>

	Polymer({
		is="pc-drawer"
	})

</script>
