<dom-module id="pc-drawer">

	<link rel="import" type="css" href="../../components/pc-drawer/pc-drawer.css"/>

	<template>
		
	<div id="drawer" class$="{{mainClasses}}">
            <div class="c-p paper-toolbar p-l-05 p-r-05 shadow-bottom">
                <div class="scrim" on-click="closeDrawers"></div>
                <div class="pd-toolbar-header p-l-05 f-left"><content select=".logo"></content></div>

            </div>

        </div><!--drawer end-->
	</template>

</dom-module>

<script>

	Polymer({
		is:"pc-drawer",
		properties:{

		}

	})

</script>
