<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../pc-drawer/pc-drawer.html"/>

<dom-module id="pc-dashboard">
	<template>

		<pc-drawer>
			<div class="logo">Logo </div>

            <div class="left-menu p-t-1">
                <pc-list-item position="left" icon="home" url="#!">Home</pc-list-item>
            </div>

            <div class="right-menu">
                Right Menu 
            </div>

            <div id="main">
                Main stuff 
            </div>
		</pc-drawer>

	</template>
</dom-module>
<script>
	Polymer({
		is:"pc-dashboard"
	})
</script>